@{

    var rand_str = (int)ViewBag.Message1;
}

@{

    var data = ViewBag.Message2;
}
<h3> Hi  @data.fname , Your account created successfully and your application ID is  :  @rand_str 
    
    <br /><br />
    NOTE : Please keep application id for further references.
    
    </h3>


